{% extends 'base.html.twig' %}

{% block body %}
<h1>Benvenuto nel blog!</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cupiditate, dolore ea iusto laboriosam libero nisi placeat quod reiciendis. A ab aperiam beatae consectetur cumque deserunt dolorum ducimus earum eligendi error esse et exercitationem explicabo fugiat impedit ipsa laborum minima non, odit placeat quaerat rem, suscipit voluptas voluptate voluptatem. Exercitationem!</p>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio enim hic iure numquam optio quia reiciendis temporibus? Incidunt, voluptates?</p>

{% endblock %}